{% extends "base.html" %} 
{% block title %} Home {% endblock %}
{% block body %}
<div class="container-lg">
  <div class="row">
    <div class="col-3">
      <div class="btn-group-vertical w-100">
        {% for _user in users %}
          <a 
            class="btn text-start {{'btn-primary' if user.id == _user.id else 'btn-light'}}" 
            href="{{ url_for('profile', user_id=_user.id) }}"
          >@ {{_user.username}} {{ '(eu)' if _user.id == current_user.id }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-9">
      {% if user.id == current_user.id or user == None %}
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="mb-3">
              <label for="photo" class="form-label">{{ form.photo.label() }}</label>
              {{ form.photo(class_="form-control") }}
            </div>

            <div class="mb-3">
              <label for="text" class="form-label">{{ form.text.label() }}</label>
              {{ form.text(class_="form-control") }}
            </div>

            <div class="d-flex justify-content-end">
              {{ form.btn(class_="btn btn-primary") }}
            </div>
        </form>
        </div>
      </div>
      {% endif %}

      posts:
      {{ posts }}
    </div>
  </div>
</div>
{% endblock %}
