{% extends "base.html" %}

{% block title %}
    Register to PhotoNook
{% endblock %}

{% block body %}
<p>register works!</p>
    <!-- <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.checkPassword.label() }}
        {{ form.checkPassword() }}

        {{ form.btn() }}

    </form> -->
{% endblock %}
